body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: white;
}
#main-container {
    display: grid;
    grid-template-rows: 7vh 56vh 30vh 7vh;
}



#top-container {
    display: grid;
    grid-template-columns: 20vw  80vw;
    
}
.green-background {
    background-color: green;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.yellow-background {
    background-color: yellow;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    display: grid;
    align-items: center;
    justify-content: center;
}



#middle-container {
    display: grid;
    grid-template-columns: 44vw 28vw 28vw;
}
.blue-background {
    background-color: blue;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.red-background {
    background-color: red;
    height: 16vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 16vh;
    display: grid;
    align-items: center;
    justify-content: center;
}




.purple-background {
    background-color: purple;
    height: 7vh;
    display: grid;
    align-items: center;
    text-align: center;
}